entity_list = df['Entity'].unique()
year_list = df['Year'].unique()
sex_list = df['Sex'].unique()
for entity in entity_list:
    for year in year_list:
        for sex in sex_list:
            mask_a = df['Entity'] == entity
            mask_b = df['Year'] == year
            mask_c = df['Sex'] == sex
            mask_all = mask_a & mask_b & mask_c

print(df[mask_all].shape[0])

In [6]:
import pandas as pd

df1 = pd.read_excel(
    "/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/Final_WHO_CVD_Mortality.xlsx")
df1 = pd.pivot_table(df1, index=['Entity', 'Year'], columns='Sex', aggfunc='sum')

In [7]:
df1

                 Number                Total number of death                  \
Sex                 All Female    Male                   All  Female    Male
Entity     Year
Albania    2000   15175   7018    8157                 30817   13030   17783
           2001   14877   6808    8069                 29176   12401   16771
           2002   15971   7523    8448                 31488   13811   17669
           2003   17808   8434    9374                 34955   15469   19484
           2004   17620   8343    9277                 34615   15221   19383
...                 ...    ...     ...                   ...     ...     ...
Uzbekistan 2015  179524  85267   94257                291193  132671  158517
           2016  185075  87762   97313                297256  135552  161696
           2017  191620  90686  100934                308272  140563  167696
           2018  186629  87755   98874                297950  135678  162265
           2019  186233  87354   98879                297321  135706  161606

                Total percentage of CVD                       Unnamed: 0  \
Sex                                 All     Female       Male        All
Entity     Year
Albania    2000               49.242301  53.860322  45.869651          0
           2001               50.990540  54.898798  48.112814          3
           2002               50.720910  54.471074  47.812553          6
           2003               50.945501  54.521947  48.111271          9
           2004               50.902788  54.812430  47.861528         12
...                                 ...        ...        ...        ...
Uzbekistan 2015               61.651207  64.269509  59.461761       4995
           2016               62.261149  64.744157  60.182689       4998
           2017               62.159392  64.516267  60.188675       5001
           2018               62.637691  64.678872  60.933658       5004
           2019               62.637015  64.370035  61.185228       5007


Sex             Female  Male
Entity     Year
Albania    2000      1     2
           2001      4     5
           2002      7     8
           2003     10    11
           2004     13    14
...                ...   ...
Uzbekistan 2015   4996  4997
           2016   4999  5000
           2017   5002  5003
           2018   5005  5006
           2019   5008  5009

[1670 rows x 12 columns]